.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 30px;
    font-family: 'Inter';
    width: 80%;
}
@media (max-width: '768px') {
    .skill-container{
        width: 100%;
    }
    
}
.s-heading{
    text-align: start;
}