.nav-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.nav-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    
}
.nav-container a :hover{
    text-decoration: underline;
    
}
.nav-container p{
    font-size: 14px;
    margin-left: 5px;
}